.links {
  display: block;
  margin: 1rem auto 2.5rem;
  max-width: 500px;
  text-align: center;
}

.links a {
  width: 48px;
  height: 48px;
  margin: 0 10px;
  display: inline-block;
  transition: opacity 200ms ease;
}

.links a:hover {
  opacity: 0.6;
}

.avatar {
  display: block;
  text-align: center;
  margin: 3.5rem 0 1rem;
}
@media screen and (max-width: 599px) {
  .avatar {
    margin: 1rem 0;
  }
}

.avatar img {
  height: 120px;
  border-radius: 45px 6px 45px 6px;
}

.name {
  text-align: center;
}
@media screen and (max-width: 599px) {
  .name {
    font-size: var(--text-lg);
  }
}

.name a {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 0.1rem;
  text-decoration-style: dashed;
  text-decoration-thickness: 1px;
  transition: color 0.3s;
}
.name a:hover {
  color: var(--text-gray-400);
}
