@import '~line-awesome/dist/line-awesome/css/line-awesome.min.css';

@font-face {
  font-family: 'Lobster';
  src: url('../../assets/fonts/Lobster/Lobster-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Niconne';
  src: url('../../assets/fonts/Niconne/Niconne-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Poppins';
  src: url('../../assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/static/Inter-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/static/Inter-Medium.ttf')
    format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/static/Inter-SemiBold.ttf')
    format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

/* Noto Sans JP */
@font-face {
  font-family: 'NotoSansJP';
  src: url('../../assets/fonts/Noto_Sans_JP/NotoSansJP-Light.otf')
    format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'NotoSansJP';
  src: url('../../assets/fonts/Noto_Sans_JP/NotoSansJP-Medium.otf')
    format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'NotoSansJP';
  src: url('../../assets/fonts/Noto_Sans_JP/NotoSansJP-Bold.otf')
    format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

:root {
  --gap-quarter: 0.25rem;
  --gap-half: 0.5rem;
  --gap: 1rem;
  --gap-double: 2rem;

  /* Color definition */
  --pure-white: #fff;
  --pure-black: #000;

  --text-gray-50: #fafafa;
  --text-gray-100: #f4f4f5;
  --text-gray-200: #e4e4e7;
  --text-gray-300: #d4d4d8;
  --text-gray-400: #a1a1aa;
  --text-gray-500: #71717a;
  --text-gray-600: #52525b;
  --text-gray-700: #3f3f46;
  --text-gray-800: #27272a;
  --text-gray-900: #18181b;

  --text-base-color: var(--text-gray-700);
  --text-light-color: var(--text-gray-400);
  --text-dark-color: var(--text-gray-900);

  --bg: var(--pure-white);
  --fg: var(--pure-black);
  --geist-foreground: var(--pure-black);

  --special-block-bg: rgba(235, 236, 237, 0.6);
  --special-block-radius: 0rem;

  /* Font definition */
  --font-logo-main: 'Lobster', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  --font-logo-lead: 'Niconne', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  --font-sans-header: 'Poppins', 'NotoSansJP', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-sans-body: 'Inter', 'NotoSansJP', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-mono: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  --font-feature-settings: 'ss01', 'cv05', 'cv07', 'cv08', 'case', 'calt',
    'tnum';

  --text-xs: 0.65rem;
  --text-sm: 0.7rem;
  --text-tiny: 0.75rem;
  --text-base: 0.8rem;
  --text-lg: 0.9rem;
  --text-xl: 1rem;
  --text-2xl: 1.075rem;
  --text-3xl: 1.25rem;
  --text-4xl: 1.5rem;
  --text-5xl: 1.6rem;
  --text-6xl: 2rem;

  /* Shadow definition */
  --ring-offset-shadow: 0 0 #0000;
  --ring-shadow: 0 0 #0000;
  --shadow-none: 0 0 #0000;
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --box-shadow-none: var(--ring-offset-shadow), var(--ring-shadow),
    var(--shadow-none);
  --box-shadow-md: var(--ring-offset-shadow), var(--ring-shadow),
    var(--shadow-md);
  --box-shadow-lg: var(--ring-offset-shadow), var(--ring-shadow),
    var(--shadow-lg);
  --box-shadow-xl: var(--ring-offset-shadow), var(--ring-shadow),
    var(--shadow-xl);
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

h1 {
  background: var(--bg);
  color: var(--text-dark-color);
  font-family: var(--font-sans-header);
}

h2 {
  font-family: var(--font-sans-header);
  font-feature-settings: var(--font-feature-settings);
}

body {
  min-height: 100vh;
  background: var(--bg);
  color: var(--text-base-color);
  font-family: var(--font-sans-body);
  font-feature-settings: var(--font-feature-settings);

  background-image: radial-gradient(#ddd 1px, transparent 1px),
    radial-gradient(#ddd 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-attachment: fixed;
  background-size: 50px 50px;

  /* Hack */
  overflow-x: hidden;
}

.links {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin: 4rem auto;
  width: 920px;
  max-width: calc(100vw - var(--gap-double));
}

.feature {
  flex: 0 0 25%;
  align-items: center;
  display: inline-flex;
  padding: 0 0.5rem 1.5rem;
  margin: 0 auto;
}

.feature h4 {
  margin: 0 0 0 0.5rem;
  font-weight: 700;
  font-size: 0.95rem;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .feature div {
    flex-basis: auto;
    padding-left: 0;
  }

  .feature h4 {
    font-size: 0.75rem;
  }
}

.explanation {
  font-size: 1rem;
  width: 35rem;
  max-width: 100vw;
  padding: 0 2rem;
  background: var(--bg);
  margin: var(--gap-half) auto;
}
figure {
  font-size: 0.85rem;
  color: #999;
  line-height: 1.8;
}

figure {
  font-size: 0.85rem;
  color: #999;
}

.links {
  margin-top: var(--gap);
}

mark {
  padding: var(--gap-quarter);
  border-radius: 8px;
  background: rgba(247, 212, 255, 0.8);
}

.title {
  text-align: center;
}

.logo :global(svg) {
  max-width: calc(100vw - var(--gap-double));
}

h1 {
  margin: var(--gap-double) 0 calc(0.5 * var(--gap)) 0;
  font-size: 2.25rem;
  font-weight: 500;
  letter-spacing: -0.05rem;
}

h2 {
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: -0.02rem;
  color: var(--text-light-color);
}

.video {
  width: 1080px;
  max-width: calc(100vw - 40px);
  transform: translateX(-50%);
  margin-left: 50%;
  text-align: center;
  cursor: pointer;
}
.video :global(video) {
  max-width: 100%;
  max-height: 90vh;
  outline: none;
}

p {
  color: var(--text-base-color);
  font-weight: 300;
  font-size: 0.94rem;
  line-height: 1.5rem;
}
@media screen and (max-width: 599px) {
  p {
    font-size: var(--text-base);
    line-height: 1.05rem;
  }
}

pre {
  white-space: pre;
}
pre :global(code) {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

code {
  font-size: 0.8rem;
  background: #f1f1f1;
  padding: 0.2rem;
  border-radius: 0.2rem;
  font-family: var(--font-mono);
}
@media screen and (max-width: 599px) {
  code {
    font-size: var(--text-base);
  }
}

.slice {
  position: relative;
}

.slice::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 130%;
  background: #fff;
  transform: skew(-20deg);
}

@media (max-width: 600px) {
  .explanation {
    padding: 0 1rem 4rem;
  }

  h2 {
    font-size: 0.95rem;
    letter-spacing: 0;
  }
}

footer {
  padding: 2em 0;
  text-align: center;
}

footer img {
  display: block;
  margin: 0.5rem auto;
}

footer span:nth-child(3) {
  color: #777777;
}

footer span:nth-child(3) a {
  color: inherit;
}

div:focus {
  outline: none;
}

.katex {
  font-size: 1em !important;
}

/* PrismJS theme */
code[class*='language-'],
pre[class*='language-'] {
  color: #000;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  font-size: 0.95em;
  line-height: 1.4em;
  tab-size: 4;
  hyphens: none;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}
.token.namespace {
  opacity: 0.7;
}
.token.string,
.token.attr-value {
  color: #028265;
}
.token.punctuation,
.token.operator {
  color: #000;
}
.token.url,
.token.symbol,
.token.boolean,
.token.variable,
.token.constant {
  color: #36acaa;
}
.token.atrule,
.language-autohotkey .token.selector,
.language-json .token.boolean,
code[class*='language-css'] {
  font-weight: 600;
}
.language-json .token.boolean {
  color: var(--geist-success);
}
.token.keyword {
  color: #ff0078;
  font-weight: bolder;
}
.token.function,
.token.tag,
.token.class-name,
.token.number,
.token.tag .token.punctuation {
  color: var(--geist-success);
}
.language-autohotkey .token.tag {
  color: #9a050f;
}
.token.selector,
.language-autohotkey .token.keyword {
  color: #00009f;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.deleted {
  color: red;
  font-weight: bolder;
}
.token.inserted {
  color: var(--geist-success);
  font-weight: bolder;
}
.language-json .token.property,
.language-markdown .token.title {
  color: #000;
  font-weight: bolder;
}
.language-markdown .token.code {
  color: var(--geist-success);
  font-weight: normal;
}
.language-markdown .token.list,
.language-markdown .token.hr {
  color: #999;
}
.language-markdown .token.url {
  color: #ff0078;
  font-weight: bolder;
}
.token.selector {
  color: #2b91af;
}
.token.property,
.token.entity {
  color: #f00;
}
.token.attr-name,
.token.regex {
  color: #d9931e;
}
.token.directive.tag .tag {
  background: #ff0;
  color: #393a34;
}
/* dark */
pre.dark[class*='language-'] {
  color: #fafbfc;
}
.language-json .dark .token.boolean {
  color: var(--geist-success);
}
.dark .token.string {
  color: #50e3c2;
}
.dark .token.function,
.dark .token.tag,
.dark .token.class-name,
.dark .token.number {
  color: #2ba8ff;
}
.dark .token.attr-value,
.dark .token.punctuation,
.dark .token.operator {
  color: #efefef;
}
.dark .token.attr-name,
.dark .token.regex {
  color: #fac863;
}
.language-json .dark .token.property,
.language-markdown .dark .token.title {
  color: #fff;
}
.language-markdown .dark .token.code {
  color: #50e3c2;
}
