.header {
  min-height: 64px;
  padding: 1.1em 6% 1.1em;
  text-align: center;
  letter-spacing: -0.02em;
  position: sticky;
  z-index: 200;
  overflow: hidden;
  top: 14px;
  background: hsla(0, 0%, 100%, 0.8);
  backdrop-filter: saturate(180%) blur(16px);
  width: 80%;
  margin: 0 auto;
  border-radius: 32px;
  transition: all 0.3s;

  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.headerScroll {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
}

.header .headerContainer {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.header .headerBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .logo {
  font-family: var(--font-logo-main);
  font-size: var(--text-3xl);
  margin-right: 1.5rem;
}

.header .breadcrumb {
  font-family: var(--font-sans-header);
  padding-left: 1.5rem;
  border-left: 2px solid var(--text-gray-500);
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.breadcrumb .path {
}

.breadcrumb .caret {
  margin: 0 0.75rem;
  color: var(--text-gray-350);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.header .menuIcon {
  display: none;
}

.header .navLinks {
  list-style: none;
  padding: 0 0 0.2rem;
}

.header li {
  display: inline-block;
  padding: 0 10px;
}

.header .navLink {
  font-family: var(--font-logo-main);
  color: var(--text-gray-700);
}

.header :global(a) {
  color: var(--text-gray-700);
  font-family: var(--font-logo-main);
  font-weight: 400;
}

.header :global(a.active) {
  color: #0070f3;
  font-weight: 600;
}

@media screen and (max-width: 920px) {
  .header {
    padding: 0.5em 1.75rem 0.5em;
    width: 90%;
  }
  .header .logo {
    font-size: var(--text-2xl);
  }
  .header .path {
    font-size: var(--text-base);
  }
  .header .menu {
    font-size: var(--text-base);
  }
}

@media screen and (max-width: 500px) {
  .header .menuIcon {
    display: flex;
  }
  .dropdownBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    margin: 0;
  }
  .dropdownLinks {
    z-index: 200;
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-start;
    border-radius: 16px;
    width: 30%;
    top: calc(3.8rem + 14px);
    background: hsla(0, 0%, 100%, 0.8);
    backdrop-filter: saturate(180%) blur(16px);
    margin: 0 5% 0 0;
    padding: 0.75rem 1.6rem 0.75rem 0;
    font-family: var(--font-logo-main);
    font-size: var(--text-xl);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
  }
  .dropdownLink {
    margin: 0.1rem 0;
  }
}
