.layout img {
  margin: auto;
  max-width: 98%;
  display: block;
  height: auto;
}

.layout h1,
.layout h2 {
  text-align: center;
}

.layout h1 {
  margin: calc(var(--gap-double) + 20px) 0 calc(0.5 * var(--gap)) 0;
  font-family: var(--font-logo-main);
}

.layout h2 {
  font-family: var(--font-logo-lead);
  margin-bottom: 3rem;
}

.introOuterBlock {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0 2%;
}

.postLine {
  display: block;
  margin: 0 auto 2rem;
  background-color: var(--text-gray-800);
  width: 4rem;
  height: 0.25rem;
  border-radius: 0.125rem;
}

.introLayoutSection {
  margin-bottom: 3rem;
}
.listLayoutSection {
  max-width: calc(720px + 10%);
  margin: 0 auto 3rem;
  padding: 0 0.5rem 0.8rem;
}

.introLayoutSection .summary {
  font-family: var(--font-sans-body);
  font-size: var(--text-base);
  line-height: 1.2rem;
  color: var(--text-gray-600);
  font-weight: 400;
  margin: 0 auto;
  padding: 10px 0.5rem 0;
  max-width: calc(720px + 10%);
  text-align: justify;
  white-space: pre-wrap;
}

.introLayout {
  text-align: center;
}
.introLayout h2 {
  font-family: var(--font-logo-main);
  font-size: var(--text-5xl);
  color: var(--text-gray-800);
  margin-bottom: 0.3rem;
}
.introLayout h3 {
  font-family: var(--font-sans-header);
  font-size: var(--text-xl);
  color: var(--text-gray-800);
}

.postCard {
  width: 300px;
  min-width: 300px;
  height: 400px;
  margin: 0.25rem 0.5rem 1rem;
  padding: 1rem;
  box-shadow: var(--box-shadow-md);
  transition: all 0.3s;
  background-color: var(--bg);
  border-radius: 1.1rem;
}

.introLayout .postCard__outer {
  padding: 10px 0;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: row;
  overflow: scroll;

  /* hide scroll bar */
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
.introLayout .postCard__outer::-webkit-scrollbar {
  /* Chrome */
  display: none;
}

.postCard__outer::before,
.postCard__outer::after {
  content: '';
  flex: 1;
}

.postListCard {
  width: 100%;
  margin: 0 0 1.05rem;
  padding: 1rem;
  overflow: hidden;
  box-shadow: var(--box-shadow-md);
  transition: all 0.3s;
  background-color: var(--bg);
  border-radius: 1.1rem;
}
.postListCard:hover,
.postCard:hover {
  box-shadow: var(--box-shadow-xl);
}

.introLayout .postListCard__outer {
  padding: 10px 0;
}

.postCard h3 {
  margin: 1rem 0 0.5rem;
  font-weight: 700;
}
.postCard h3 a {
  transition: color 0.3s;
}
.postCard h3 a:hover {
  color: var(--text-gray-400);
}
.postCard .lead {
  font-size: var(--text-tiny);
  color: var(--text-gray-600);
}
.postCard .desc {
  text-align: left;
  overflow-x: visible;
  white-space: normal;
  font-size: var(--text-tiny);
  color: var(--text-gray-700);
  margin-top: 1rem;
  line-height: 1.2rem;
}
.postCard .desc a {
  color: var(--text-gray-700);
  text-decoration: underline;
  text-underline-offset: 0.07rem;
  text-decoration-style: dashed;
  text-decoration-thickness: 1px;
  transition: color 0.2s;
}
.postCard .desc a:hover {
  color: var(--text-gray-400);
}

.postListCard h3 {
  font-weight: 700;
  line-height: 1.2rem;
  margin-bottom: 0.5rem;
}
.postListCard h3 a {
  transition: color 0.3s;
}
.postListCard h3 a:hover {
  color: var(--text-gray-400);
}
.postListCard .author {
  font-weight: 500;
  font-size: var(--text-base);
}
.postListCard .conference {
  font-weight: 500;
  font-size: var(--text-base);
}
.postListCard .tag__outer {
  margin-top: 0.3rem;
}
.postListCard .tag {
  font-family: var(--font-sans-header);
  font-weight: 500;
  color: var(--text-gray-600);
  display: inline-block;
  font-size: var(--text-xs);
  background-color: var(--text-gray-100);
  padding: 0.175rem 0.5rem;
  margin: 0 0.125rem 0 0.125rem;
  border-radius: 0.6rem;
}

@media screen and (max-width: 700px) {
  .layout {
    margin-top: 2rem;
  }
  .introLayoutSection .summary {
    font-size: var(--text-tiny);
    text-align: left;
    padding: 10px 1.2rem 0;
  }
  .introLayout .postListCard {
    margin-bottom: 0.75rem;
  }
  .layout h1 {
    margin: calc(0.5 * var(--gap)) 0;
  }
  .introLayout h2 {
    font-size: var(--text-3xl);
  }
  .introLayout h3 {
    font-size: var(--text-base);
  }
  .postCard h3 {
    font-size: var(--text-lg);
    font-weight: 700;
  }
  .postListCard .author,
  .postListCard .conference {
    font-size: var(--text-sm);
  }
  .postCard .desc {
    font-size: var(--text-sm);
  }
}
